Package: pwdfile-editor
Version: 0.1
Architecture: all
Maintainer: Discreete Linux Team <info@discreete-linux.org>
Installed-Size: 56
Depends: gnome-screensaver | gdm3, openssl, libpam-runtime
Section: utils
Priority: extra
Homepage: https://www.discreete-linux.org
Description: Utility for Discreete Linux to set a screensaver password
 This is a little utility for setting a screensaver password. It is intended
 solely for use with Discreete Linux.
